/* Global styles */

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  padding: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}


input {
  outline: none;
  border: none;
  box-shadow: none;
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: 600;
  color: #101828;
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px; /* 120% */
  letter-spacing: -1.2px;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
}

h3 {
 font-size: 30px;
 font-weight: 600;
 line-height: 44px; /* 122.222% */
 letter-spacing: -0.72px;
}

h4 {
  font-size: 18px;
}

p {
  color: #667085;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 150% */
  margin: 16px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.btn {
  display: flex;
}

.btn a {
  color: white;
  padding: 12px 20px;
  background-color: #4E48E0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  margin: 16px 0;
  text-align: center;
  flex-basis: 100%;
  transition: 1s ease;
}

.btn a:hover {
  box-shadow: 0px 0px 0px 4px #F4EBFF, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

button:hover,
button:focus {
  outline: 0;
}

.wrapper {
  padding: 0 16px;
  margin: auto;
  max-width: 1280px;
}

/*-- header --*/
.header {
  background-color: #f8f9fa;
  background-image: url('./images/dot-pattern.svg');
  background-repeat: repeat;
}

/* navbar */
.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  position: absolute;
  left: -100%;
  top: 0;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  list-style: none;
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition: all 0.4s;
  z-index: 2;
  gap: 10px;
  min-height: 100vh;
  justify-content: center;
}

.nav-menu.active {
  left: 0;
  background-color: white;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu li {
  padding: 22px 0;
  color: #667085;
}
.nav-menu li a:hover{
	color:#4E48E0;
}

.bar {
  display: block;
  width: 20px;
  height: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101828;
  border-radius: 1px;
  margin-bottom: 4px;
}

.hamburger {
  cursor: pointer;
  z-index: 3;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

.bar:last-child {
  margin-bottom: 0;
}

.navbar a {
  font-weight: 600;
}

.nav-logo {
  z-index: 3;
}

/*-- Hero --*/
.hero {
  padding: 32px 0 64px;
  text-align: center;
}

.hero-image {
  text-align: inherit;
  margin-top: 32px;
}

.hero-image img {
  max-width: 100%;
}

/* -- Top books section --*/
.topbooks {
  padding: 64px 0;
  text-align: center;
}

.book-cards {
  margin-top: 48px;
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  flex-wrap: wrap;
}

.book-card {
  flex-basis: 45%;
  margin-bottom: 8px;
}

.book-cover img {
  border-radius: 6px;
  transition: 1s ease;
}

.book-cover img:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.book-name {
  color: #111;
  margin-top: 24px;
  text-align: left;
}

.book-author {
  color: #54595f;
  font-size: 14px;
  margin: 0;
  text-align: left;
}

.book-price {
  display: flex;
  align-items: center;
}

.book-price--disc {
  color: #111;
  font-size: 22px;
  font-weight: 700;
}

.book-price--reg {
  color: #d92d20;
  font-size: 16px;
  text-decoration: line-through;
  margin-left: 8px;
}

.book-card .btn a {
  flex-basis: auto;
  padding: 10px 18px;
}

/* -- Testimonials --*/
.testimonials {
  background-color: #f7f8fb;
  padding: 64px 0;
}

.testimonial-quote {
  color: black;
  font-size: 26px;
  text-align: center;
  margin-bottom: 40px;
}

.author-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-avatar {
  width: 65px;
  border-radius: 50%;
  margin-right: 16px;
}

.author-about .name {
  font-size: 18px;
  font-weight: 500;
  color: #101828;
}

.author-about .authorof {
  color: #667085;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.stars {
	margin-top: 2px;
}

/*-- About --*/
.about {
  margin: 64px 0;
}

.about .subheading {
  color: #00a3b1;
  font-weight: 600;
  margin-bottom: 8px;
}

.about-content .btn a {
  color: #344054;
  background: none;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
  flex-basis: 100%;
}

.about-image {
  margin-top: 12px;
}

/*-- Newsletter --*/
.newsletter {
  padding: 64px 0;
  background-color: #53389e;
  color: white;
}

.newsletter h3 {
  color: white;
  margin-bottom: 20px;
}

.newsletter p {
  color: #e9d7fe;
  margin-bottom: 32px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}

.email-input {
  color: #667085;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  font-size: 16px;
  padding: 10px 14px;
}

.submit-btn {
  font-size: 16px;
  font-family: inherit;
  color: white;
  padding: 10px 18px;
  background-color: #7f56d9;
  border-radius: 8px;
  font-weight: 600;
  margin: 16px 0;
  text-align: center;
  flex-basis: 100%;
  cursor: pointer;
}

/*-- Footer --*/
.footer {
  background-color: #f8f9fa;
  padding: 64px 0 48px;
}

.footer-links {
  margin-top: 32px;
  margin-bottom: 48px;
  display: flex;
}

.footer-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-basis: 50%;
}

.footer-links li {
  margin-bottom: 12px;
  color: #667085;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.footer-links li a:hover{
	color:#4E48E0;
}


.footer-row {
  padding: 0;
}
.footer-logo {
	padding-top: 16px;
}

.social img {
  display: inline-block;
  margin-right: 24px;
}

.copyright p {
  color: #98A2B3;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.scroll-reveal-container {
  height: 300px;
  overflow-y: scroll;
  /* Add any other styles you want for the container */
}

/* Initially hide the content outside the container */
.scroll-reveal-content {
  opacity: 0;
  transform: translateY(20px); /* You can adjust the value as per your preference */
  transition: opacity 0.5s, transform 0.5s;
}

/* When the content comes into view, reveal it */
.scroll-reveal-content.reveal {
  opacity: 1;
  transform: translateY(0);
}
/*-- -- Responsive design -- --*/
/*-- Medium devices (tablets, 768px and up) --*/
@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 34px;
  }

  .wrapper {
    padding: 0 32px;
  }

  .navbar {
    padding: 24px 0;
  }

  .hamburger {
    display: none;
  }

  .nav-menu {
    display: flex;
    position: static;
    flex-direction: revert;
    padding: 0;
    min-height: auto;
    box-shadow: none;
    width: auto;
  }

  .navbar li {
    margin-left: 32px;
    padding: 0;
  }

  .hero {
    padding-top: 80px;
  }

  /* -- Top books section --*/
  .topbooks {
    padding: 80px 0 56px;
  }

  .book-cards {
    margin-top: 64px;
  }

  /*-- Testimonials --*/
  .testimonials {
    padding: 80px 0;
  }

  .testimonials .wrapper {
    padding: 0;
	max-width: 1280px;
	margin: auto;
  }

  .testimonial-quote {
    padding-left: 40px;
    padding-right: 40px;
  }

  /*-- About --*/
  .about {
    margin: 80px 0;
  }
  .about h3 {
    font-size: 30px;
  }

  /*-- Newsletter --*/
  .newsletter {
    padding: 80px 0;
  }

  .newsletter-form {
    flex-direction: row;
  }

  .email-input {
    flex-basis: 80%;
  }

  .submit-btn {
    margin: 0;
    margin-left: 16px;
    flex-basis: 20%;
    padding: 12px 20px;
  }

  /*-- footer --*/
.footer-logo {
	padding-top: 0 !important; /*-- Large screen --*/
}

  .footer-links {
    justify-content: center;
    margin-bottom: 64px;
  }

  .footer-links ul {
    display: flex;
    flex-basis: auto;
  }

  .footer-links li {
    margin: 0 16px;
  }

  .footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright p {
    margin: 0;
	  
  }
}

/*-- Large devices (desktops, 992px and up) --*/

@media (min-width: 992px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 36px;
  }

  .wrapper {
    padding: 0 24px;
  }

  .hero {
    padding-top: 60px;
    text-align: left;
    display: flex;
    gap: 70px;
    align-items: center;
  }

  .hero .btn a {
    flex-basis: auto;
  }

  .hero > * {
    flex: 1 1 0;
  }

  .hero-content > div {
    max-width: 570px;
  }

  .hero-image {
    margin-top: 0;
  }

  /* -- Top books section --*/
  .topbooks {
    padding: 96px 0 40px;
  }

  .book-card {
    margin-bottom: 40px;
    flex-basis: 18%;
  }

  /*-- Testimonials --*/
  .testimonials {
    padding: 96px 0;
  }

  .testimonial-quote {
    font-size: 30px;
	font-weight: 400;
	line-height: 38px; /* 126.667% */
	letter-spacing: -0.6px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }

  /*-- About --*/
  .about {
    margin: 96px 0;
  }

  .about h3 {
    font-size: 36px;
  }
.about-content .btn a {
  flex-basis: auto;
}
  .about-image {
    margin-top: 0;
  }

  .about-content {
    max-width: 600px;
  }

  .about .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .about .wrapper > div {
    flex-basis: 50%;
  }

  /*-- Newsletter --*/
  .newsletter {
    padding: 96px 0;
  }

  .newsletter .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .newsletter .wrapper > div {
    flex-basis: 40%;
  }

  .newsletter .wrapper .newsletter-content {
    flex-basis: 48%;
  }

  .newsletter-form {
    margin-left: auto;
  }
}

